.textarea-post{
    width: 100%;
    border-radius: 5px;
}
span.MuiTypography-root.MuiCardHeader-subheader.MuiTypography-body2.MuiTypography-colorTextSecondary.MuiTypography-displayBlock {
color: white;
}
.comment-height{
    max-height: 200px;
    overflow-y: scroll;
}